html,
body {
    margin: 0;
    height: 100vh;
    min-height: 100vh;
}

#root {
    height: inherit;
    min-height: inherit;
}

.app {
    text-align: center;
    background-color: #282c34;
    color: white;
    height: inherit;
    min-height: inherit;
    display: flex;
    flex-direction: column;
}

.app-header,
.app-footer {
    width: 100%;
    flex: none;
    background-color: yellowgreen;
}

.app-header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5050;
}

.app-footer {
    position: fixed;
    bottom: 0;
    left: 0;
}

.app-footer.static {
    position: static;
}

.app-header-title,
.app-footer-content {
    font-size: inherit;
}

.app-container {
    display: grid;
    flex: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    font-size: calc(10px + 2vmin);
    background-color: inherit;
    color: white;
}

.app-container.scrolled {
    display: block;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.app-container.contents {
    display: contents;
}

.app-container.static {
    overflow-y: inherit;
}

.app-container-content {
    display: flex;
    flex: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.app-container-content.contents {
    margin-top: inherit;
    margin-bottom: inherit;
}

.app-logo {
    height: 40vmin;
    pointer-events: none;
}

.app-link {
    color: #61dafb !important;
    text-decoration: none;
}

.app-link:hover {
    text-decoration: underline;
}

@media (prefers-reduced-motion: no-preference) {
    .app-logo {
        animation: app-logo-spin infinite 20s linear;
    }
}

@keyframes app-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

button.button-link {
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: #069;
    text-decoration: underline;
    cursor: pointer;
    font-size: inherit;
}

button.button-link:disabled {
    text-decoration: none;
    color: #666666 !important;
    cursor: default;
}